<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level - %Logger{%36} - (%F:%L) - %msg%n" />
		</Console>

	</Appenders>
	<Loggers>
		<Root level="INFO" additivity="false">
			<AppenderRef ref="Console"></AppenderRef>
		</Root>

	</Loggers>
</Configuration>